.App-header{
    background-image: url("../images/background.webp");
    margin: 0;
    padding: 10%;

    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerTitle{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: black;
    width: 50%;
    float: left;
}
.headerList{
    text-shadow: -.1px 0 black, 0 .1px black, .1px 0 black, 0 -.1px black;
    width: 100%;
}
ul{
    margin-top: 1px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.headerList, li{
    font-size: 1.5em;
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin-right: 1%;
}
.headerList, li:link{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.headerList, li:visited {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.headerList, li:hover {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.headerList, li:active {
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.App-transition{
    height: 15px;
    background-image: url("../images/stipes.jpg");
    background-position: bottom;
}
.App-body{
    width: 75%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.App-intro {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Intro-leftCol{
    width: 40%;
    float: left;
}
.Intro-leftCol{
    width: 60%;
    float: left;
}
.HomeBody{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
.AppQuote{
    margin-top: 2%;
    width: 100%;
    border: 5px solid black;
}
.recentEvents{
    margin-bottom: 20px;
}
.nominations{
    margin-top: 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float:left;
    width: 33%;
}
.bills{
    margin-top: 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
.treaties{
    margin-top: 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
    width: 33%;
}
.half-col{
    width: 100%;
    float: left;
    margin-top: 2%;
}
.radio{
    width: 100%;
    float: left;
}
.SearchBody{
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.results{
    margin-top: 15%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.ResultsContainer{
    margin-bottom: 10%;
}
.RegisterBody{
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.registerButton{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border: black 2px solid;
    margin-top: 2%;
    padding: 1%;
}
.registerButton:hover{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: grey;
}
.LoginBody{
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
html,body{
    background-image: url("../images/body.png");
    background-repeat: repeat;
    background-color: #505050;
    height: auto;
}
.table {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    margin-bottom: 5%;
}

.table, th, td {
    border: 1px solid black;
}
.edit{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border: black 2px solid;
    margin-top: 2%;
    padding: 1%;
}
.edit:hover{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: grey;
}
.delete{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border: black 2px solid;
    margin-top: 2%;
    padding: 1%;
}
.delete:hover{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: grey;
}

.imagel {
    z-index: 5;
    position: absolute;
    top: 10%;
    left: 6%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.imager {
    z-index: 5;
    position: absolute;
    top: 10%;
    right: 3%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Mobile 767*/
@media only screen and (max-width: 767px) {
    .headerTitle{
        font-size: 1em;
        margin-top: -3%;
        margin-left: -7%;
    }
    .headerList{
        margin-top: -5%;
        margin-left: 7%;

        font-size: .6em;
    }
}
 /* Tablet */
@media only screen and (max-width: 991px) {
    .headerTitle{
        font-size: 1em;
        margin-top: -3%;
        margin-left: -7%;
    }
    .headerList{
        margin-top: -5%;
        margin-left: 6%;

        font-size: .7em;
    }
}

/* Desktop */
@media only screen and (max-width: 992px) {
    .headerTitle{
        font-size: 1em;
        margin-top: -3%;
        margin-left: -7%;
    }
    .headerList{
        margin-top: -5%;
        margin-left: 5%;

        font-size: .8em;
    }
}

/*2560 is largest screen width*/